extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

      
        h1 Brian Kidd

       
        p.lead.text-light
          | Full Stack JavaScript and UI Developer

      
        .portfolio-bio
          p
            | Not all programmers started out as mathematical/computer geniuses. The genesis of my interest in programming began during my college days when I came across some band websites created by a friend and fellow musician of mine (He is now an accomplished Front End Developer). I perceived his websites as multimedia installations with not only attractive layouts via CSS, but with media players, videos, messageboards et-cetera. This peaked my interest in Web Developing. However, I was nearing the end of my education in Journalism and Music, and for the next 10 years or so thought of Web Development as mostly a hobby I was passionate about. 
            br 
            br
            | Recently, the seed that was planted when I was an idealisitc, early post-adolescent artist brought out the more scientific part of my being and I could not ignore my growing interest in Web Developing. I had to make it a top priority. So I started learning as much about programming as possible and all that flying around showed me that Full Stack JavaScript and UI Development is the most comfortable place for me to land. 
            br
            br  
            | What I mostly love about Web Developing is how it combines so many different disciplines from both art and science. This is the main reason I find developing so satisfying and why I strive to always do my best work and keep improving. My uniquqe and perhaps somewhat unconventional path into programming gives me the skills to be both a valuable communicator and developer. Steve Jobs stated during his 2005 Stanford commencement speech with regards to a person's career path: "You cannot connect the dots looking forward; you can only connect them looking backwards. So you have to trust that the dots will somehow connect in your future." The dots are connected and I am eager to work with you to make your vision become a reality. 
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Web Design and Developing
          li Application Development and Testing
          li Web Content Writing and Editing
          li HTML and CSS
          li Full Stack JavaScript Development
          li Express
          li Node.js
          li pug
          li Adobe Photoshop
          li Adobie Illustrator
        h6 Contact Info

        //- Add your own contact info
        ul
          li 206-683-7451
          li brian.kidd.one@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/briankidd9design/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/briankidd9design' target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/briandavidkidd' target="blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  