extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Brian Kidd

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript and UI Developer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Not all programmers got into it because they were considered some sort of mathematical/computer geniues. The genesis of my interest in programming began when I came across some band websites created by a friend and fellow musician of mine. I perceived his websites as multimedia installations with not only attractive layouts via CSS, but with media players, videos, messageboards et-cetera. This peaked my interest in Web Developing, but what I viewed as just HTML, CSS and maybe a little JavaScript was not necearrily 'programming' but as a means to create cool multimedia installations to convey intormaiton to the viewer. Little did I know that some relatively simple yet elegant website for musical acts would lead me down the path of programming for web and mobile. Yet here I am, still, and maybe even more than I was as a kid, mesomorized  with the Web and how I can leave my mark inside its vast network by using powerful programming languages and of course my creative imagination. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Web Design and Developing
          li Application Development and Testing
          li Web Content Writing and Editing
          li Html and CSS
          li Full Stack JavaScript Development
          li Adobe Photoshop
          li Adobie Illustrator
        h6 Contact Info

        //- Add your own contact info
        ul
          li 206-683-7451
          li brian.kidd.one@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/briankidd9design/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/briankidd9design' target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/briandavidkidd' target="blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  