body {
    background: #B2D2FF;
  }
  .thumbnail{
    border: solid 4px #e6e6e6;
  }

h1,h2,h3,h4,h5,p{
  /*font-family: 'Merriweather', serif;*/
  font-family: 'Slabo 27px', serif;
  color: #33527F;;
}
#my-info h5{
  color: #e6e6e6;
  font-family: 'Oswald', sans-serif;
}

  h5{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    color: #33527F;
    font-weight: 600;
  }

  p{
    font-size: 16px;
    color: #666;
  }

.round{
  border-radius: 5px;
}

.text-light{
  color: #33527F;
  font-family: 'Oswald', sans-serif;
}

.button{
  background-color: #59697F;
}

.button:hover{
  background-color: #5082C9;
}

a{
  color: #33527F;
}

a:hover{
  color: #fff;
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #e6e6e6;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.portfolio-me{
  padding: 20px;
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(80, 130, 201, 0.95), 
      rgba(80, 130, 201, 0.95)
    ),
    /* bottom, image */
    url(../images/portf_me_bg.png);
  color: #e6e6e6;
  box-shadow: none !important;
}

  .portfolio-me p{
    font-size: 14px;
    color: #e6e6e6;
  }

  .portfolio-me a{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #e6e6e6;
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover{
    color: #33527F;
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #33527F;
}

 .portfolio-breadcrumb a{
   font-family: 'Roboto', sans-serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro{
  margin: 0;
  padding: 40px 50px 30px;
  /*background: #B2D2FF;*/
}

.portfolio-intro p{
  border-bottom: 1px solid #33527F;
  padding-bottom: 40px;
  font-family: 'Oswald', sans-serif;
  color: #33527F;
}

.portfolio-index{
  margin: 0;
  padding: 10px 50px;
  background: #B2D2FF;

}

  .portfolio-index .thumbnail{
    margin-bottom: 5px;
  }

  .portfolio-index a{
    color: #222;
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: 5px;
  }

/*.portfolio-project p{
  border: none;
}*/

.portfolio-project li{
  font-size: 14px;
  color: #59697F;
}

.portfolio-bio{
    line-height: 25px;
}
